<?xml version="1.0"?>
<launch>
  <arg name="port0" default="/dev/jsk_board" />
  <arg name="baud0" default="115200" />
  <arg name="port1" default="/dev/jsk_board" />
  <arg name="baud1" default="115200" />
  
  <group ns="magnet0">
    <node pkg="jsk_mbzirc_board" type="serial_board.py" name="serial_board" output="screen">
      <param name="port" value="$(arg port0)" />
      <param name="baud" value="$(arg baud0)" />
    </node>
  </group>
 
  <group ns="magnet1">
    <node pkg="jsk_mbzirc_board" type="serial_board.py" name="serial_board" output="screen">
      <param name="port" value="$(arg port1)" />
      <param name="baud" value="$(arg baud1)" />
    </node>
  </group>
</launch>
